@media (max-width: 1600px){
    .mainBody{ 
        width:80%;
    }

    .projectContainer{
        width:85%;
    }
}

@media (max-width: 1350px){
    .mainBody{ 
        width:90%;
    }
    .projectContainer{
        width:90%;
    }
}

@media (max-width: 1000px){
    /* .body{
        width:0%;
        height:0%;
    } */
    .mainBody{
        /* border: 5px solid red; */
        /* position:absolute; */
        /* margin:0;
        padding:0;
        border:0; */
        width:98%;
    }
}

@media(max-width: 768px){

    .splashPage__image{
        width:40%;
    }
    
    .splashPage__splashBody{
        width:60%;
    }

    .projectContainer{
        width:95%;
        height:auto;
        flex-direction:column-reverse;
        align-items:center;
        /* height:auto; */
        /* border: 5px red solid; */
    }

    .projectImageContainer{
        /* position: relative; */
        /*Instead of doing bottom:5px
         *because it breaks in Firefox*/
        top:-5px;
        /* bottom: 5px; */
        left:0px; /*Reset left parameter*/
        width:98%;
        height:250px;
        /* border-radius: 0 0 10px 10px; */
        border-radius: 10px;
    }

    .projectImage{
        max-width: 98%;
    }

    .projectContainer__body{
        width:100%;
        position:relative;
    }

    .projectLogos{
        display:none;
    } 
}